body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    background-color: #ffdff1;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: flex;
    flex-direction: row;
  }
  
  .status {
    margin-bottom: 50px;
  }
  
  .square {
    background: #22aaaa;
    border: 1px solid #999;
    float: left;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }
  
  .square:focus {
    background-color: red;
    outline: none;
  }
  .square + .fill {
    background-color: yellow;
    outline: none;
  }

  .gurd {
    background-color: green;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .win {
    color: green;
  }
  .lose {
    color: red;
  }

  .set-board {
    background-color: orange;
  }
  .flag-pick {
    background-color: red;
    color: black;
  }